# Файлы системы контроля версий
.git
.gitignore

# Файлы виртуального окружения
.venv

# Данные, генерируемые приложением
data
logs

# Окружение с секретами
.env

# Файлы документации
*.md
!README.md

# Файлы генерируемые Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.idea